* {
    background-color: crimson;
    
}

h1 {
    font-style: oblique;
    text-shadow: darkgrey;
    color: yellow !important;
}

h4{
   text-transform: lowercase;
   font-size: 200px !important;
}
